/*general*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    color: #8f0100;
}
.boton1{
    color: #8f0100;
    background: transparent;
    border: 2px solid;
    border-color: #8f0100;
    border-radius: 6px;
    color: #000;
    padding:  10px 16px;
    font-size: 16px;
    margin: 4px ;
    cursor: pointer;
    transition: all 0.8s ease;
}
.boton1:hover{
    background-color: #8f0100;
    color: #fff;
    transition: all 0.8s ease;
}

.boton2{
    color: #8f0100;
    border: 2px solid;
    border-color: #000;
    border-radius: 6px;
    color: #000;
    padding:  10px 16px;
    font-size: 16px;
    margin: 4px ;
    cursor: pointer;
    transition: all 0.8s ease;
}
.boton2:hover{
    background-color: #000;
    border-color: #fff;
    color: #fff;
    transition: all 0.8s ease;
}
/*general*/

/*header*/
.bg-body-tertiary{
    background-color: #8f0100;
    --bs-bg-opacity: 0;
}

.container-fluid{
    background-color: #8f0100;
}
.menu__enlace{
    color: #fff;
    padding: 2px;
}
.menu__img{
    width: 90px;
    height: 90px;
}
.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar{
    padding: 0px;
}

/*header*/
/*footer*/

.footer__ul{
    padding: 50px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer a{
    color: #000;
}
.footer__img{
    width: 20px;
    height: 20px;
    
}
.footer__copy{
    text-align: end;
    padding: 15px;
    background-color: #8f0100;
    color: white;
    margin: 0px;
}
/*footer*/

/*main index*/
/*mostrador*/
.mostrador{
    padding: 50px 30px;
}
.mostrador__titulo{
    text-align: center;
    font-size: 70px;
    margin: 30px;
    margin-top: 0px;
    font-weight: bold; 
    color:#8f0100; 
    
}
.mostrador__cuerpo{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mostrador__img{
    height: 340px; 
    padding: 20px;
}
.mostrador__texto{
    text-align:center;
    font-size: 24px;
}
.mostrador__boton{
    text-align: center;
    margin-top: 20px;
}
/*mostrador*/

/*productos*/
.catalogo{
    border: 2px solid;
    border-color:#000;
    background-color: #8f0100;
}

.catalogo__titulo{
    text-align: center;
    color: #fff;
    padding: 30px;
    font-size: 70px;
    margin: 30px;
    font-weight: bold; 
    
}

.catalogo__caja{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.catalogo__tarjeta{
    border: 3px solid #000;
    border-radius: 6px;
    padding: 20px;
    margin: 30px;
    width: 250px;
    background-color: #fff;
}

.catalogo__tarjeta img{
    width: 100%;
}
.catalogo__caja a:hover{
    scale: 1.2;
    transition: 0.8s;
}

.catalogo__texto{
    font-size: 25px;
    text-align: center;
    color: #000;
}
.catalogo__boton{
    text-align: center;
    margin: 15px;
}

/*productos*/
/*main index*/

/*main nosotros*/
.nosotros__titulo{
    text-align: center;
    padding: 30px;
    font-size: 70px;
    margin: 30px;
    font-weight: bold; 
    color:#8f0100; 
}

.nosotros__tarjeta1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nosotros__tarjeta1 img{
    height: 380px; 
    padding: 30px
}
.nosotros__texto1{
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.nosotros__tarjeta2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8f0100;
}

.nosotros__tarjeta2 img{
    height: 580px;
    padding: 30px;
    order: 1;
}

.nosotros__texto2{
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

/*main nosotros*/

/*main productos*/
.productos__titulo{
    text-align: center;
    padding: 30px;
    font-size: 70px;
    margin: 30px;
    font-weight: bold; 
    color:#8f0100;
}

.productos__barras{
    text-align: center;
    font-size: 35px;
    padding: 10px;
    background-color: #8f0100;
}

.productos__barras a{
    padding: 3px;
    color: #fff;
}

.picadas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background-color: #8f0100;
}

.picadas__caja{
    border: 3px solid #000;
    border-radius: 6px;
    padding: 20px;
    margin: 30px;
    width: 220px;
    background-color: #fff;;
    text-align: center;
    transition: 0.8s;
}
.picadas__caja:hover{
    scale: 1.2;
    transition: 0.8s;
}
.picadas__caja img{
    width: 100%;
    padding-bottom: 10px;
}
.picadas__texto{
    color: #000;
    text-align: center;
    font-size: 100%;
    margin: 0px;
}

.picadas__titulo{
    text-align:center;
    font-size: 35px;
    padding-top: 60px;
}



.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background-color: #8f0100;
}
.box__caja{
    border: 3px solid #000;
    border-radius: 6px;
    padding: 20px;
    margin: 30px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    transition: 0.8s;
}
.box__caja:hover{
    scale: 1.2;
    transition: 0.8s;
}
.box__caja img{
    width: 100%;
    padding-bottom: 20px;
}
.box__texto{
    color: #000;
    text-align: center;
    font-size: 20px;

}
.box__titulo{
    text-align:center;
    font-size: 35px;
    padding-top: 60px;

}

.postre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background-color: #8f0100;
}
.postre__caja{
    border: 3px solid #000;
    border-radius: 6px;
    padding: 20px;
    margin: 30px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    transition: 0.8s;
}
.postre__caja:hover{
    scale: 1.2;
    transition: 0.8s;
}
.postre__caja img{
    width: 100%;
    padding-bottom: 20px;
}
.postre__texto{
    color: #000;
    text-align: center;
    font-size: 20px;
}
.postre__titulo{
    text-align:center;
    font-size: 35px;
    padding-top: 60px;
}


.sandwich{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background-color: #8f0100;
}
.sandwich__caja{
    border: 3px solid #000;
    border-radius: 6px;
    padding: 20px;
    margin: 30px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    transition: 0.8s;
}
.sandwich__caja:hover{
    scale: 1.2;
    transition: 0.8s;
}
.sandwich__caja img{
    width: 100%;
    padding-bottom: 20px;
}
.sandwich__texto{
    color: #000;
    text-align: center;
    font-size: 20px;
}
.sandwich__titulo{
    text-align:center;
    font-size: 35px;
    padding-top: 60px;
}

.sorrentinos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background-color: #8f0100;
}
.sorrentinos__caja{
    border: 3px solid #000;
    border-radius: 6px;
    padding: 20px;
    margin: 30px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    transition: 0.8s;
}
.sorrentinos__caja:hover{
    scale: 1.2;
    transition: 0.8s;
}
.sorrentinos__caja img{
    width: 100%;
    padding-bottom: 20px;
}
.sorrentinos__texto{
    color: #000;
    text-align: center;
    font-size: 20px;
}
.sorrentinos__titulo{
    text-align:center;
    font-size: 35px;
    padding-top: 60px;
}

/*main productos*/

/*main contacto*/
.formulario__titulo{
    text-align: center;
    padding: 30px;
    font-size: 70px;
    margin: 30px;
    font-weight: bold; 
    color:#8f0100; 
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.formulario fieldset{
    border: 3px solid #8f0100;
    border-radius: px;
}
.formulario legend {
    font-size: 20px;
}
.formulario__caja{
    padding: 20px;

}
.formulario__casillas{
    padding: 6px;
    
}
.formulario input{
    border: 2px solid #8f0100;
    border-radius: 6px;
    font-size: 15px;
}
.formulario textarea{
    border: 2px solid #8f0100;
    border-radius: 6px;
}
/*main contacto*/

/*main sucursales*/
.sucursales__titulo{
    text-align: center;
    padding: 30px;
    font-size: 70px;
    margin: 30px;
    font-weight: bold; 
    color:#8f0100; 
}

.sucursales__tarjeta1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sucursales__texto1{
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.sucursales__tarjeta2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8f0100;
}

.sucursales__texto2{
    color: #fff;
    padding: 20px;
    font-size: 24px;
    order: 2;
    text-align: center;
}
.sucursales__mapa1{
    height: 380px;
    padding: 30px;
}

.sucursales__mapa2{
    height: 380px;
    padding: 30px;
    order: 2;
}

/*main sucursales*/

@media (max-width:768px){
    /*footer mediaquery*/
    .menu__img{
        height: 110px;
        width: 110px;
    }
    .footer__copy{
        font-size: 14px;
        text-align: center;
    }
    /*footer mediaquery*/

    /*index mediaquery*/
    .mostrador__titulo{
        margin: 30px 0px 30px 0px;
    }
    .catalogo__titulo{
        font-size: 65px;
        margin: 0px;
    }
    .mostrador__cuerpo{
        display:flex ;
        flex-direction: column;
        text-align: center;
    }
    .mostrador__img{
        height: 240px;
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .catalogo{
        border: 0px;
    }
    /*index mediaquery*/

    /*nosotros mediaquery*/
    .nosotros__titulo{
        margin: 0px;
    }
    .nosotros__tarjeta1{
        display: flex;
        flex-direction: column;

    }
    .nosotros__tarjeta1 img{
        height: 320px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nosotros__tarjeta2{
        display: flex;
        flex-direction: column;
    }
    .nosotros__tarjeta2 img{
        height: 520px;
        order: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*nosotros mediaquery*/

    /*productos mediaquery*/
    .productos__titulo{
        font-size: 65px;
        margin: 0px;
    }
    .productos__barras{
        font-size: 25px;
    }
    .picadas__caja:hover{
        scale: 1.6;
    }
    .box__caja:hover{
        scale: 1.6;
    }
    .postre__caja:hover{
        scale: 1.6;
    }
    .sandwich__caja:hover{
        scale: 1.6;
    }
    .sorrentinos__caja:hover{
        scale: 1.6;
    }
    /*productos mediaquery*/

    /*formulario mediaquery*/
    .formulario__titulo{
        margin: 0px;
    }
    .formulario{
        padding: 0px;
        border: 0px;
    }
    .formulario__caja{
        padding: 0px;
        border: 0px;
    }
    /*formulario mediaquery*/

    /*sucursales mediaquery*/
    .sucursales__titulo{
        margin: 40px 0px 40px 0px;
        padding: 0px;
    }
    .sucursales__tarjeta1{
        display: flex;
        flex-direction: column;
    }
    .sucursales__mapa1{
        height: 360px;
        width: 360px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .sucursales__tarjeta2{
        display: flex;
        flex-direction: column;
    }
    .sucursales__mapa2{
        height: 360px;
        width: 360px;
        order: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*sucursales mediaquery*/
}
