
.formulario__titulo{
    text-align: center;
    padding: 30px;
    font-size: 70px;
    margin: 30px;
    font-weight: bold; 
    color:#8f0100; 
}
.formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    .formulario__caja{
        padding: 20px;
    }
    .formulario__casillas{
        padding: 6px;  
    }
    legend {
        font-size: 20px;
        color:#8f0100; 
        font-weight: bold; 
        text-align: center;
    }
    input{
        border: 2px solid #8f0100;
        border-radius: 6px;
        font-size: 15px;
    }
    textarea{
        width:100%;
        height:100px;
        border:1px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;			
        margin:8px 0;
        resize:none;
        display:block;
        border: 2px solid #8f0100;
        border-radius: 6px;
    }
    form{
        width:300px;
        padding:16px;
        border-radius:10px;
        margin:auto;
        border: 2px solid #8f0100;
        form label{
            width:72px;
            font-weight:bold;
            display:inline-block;
        }
        form input[type="text"],
        form input[type="email"]{
            width:180px;
            padding:3px 10px;
            border:1px solid #f6f6f6;
            border-radius:3px;
            background-color:#f6f6f6;
            margin:8px 0;
            display:inline-block;
        }
        form input[type="submit"]{
            width:100%;
            padding:8px 16px;
            margin-top:32px;
            border:1px solid #000;
            border-radius:5px;
            display:block;
            color:#fff;
            background-color:#000;
            &:hover{
                cursor:pointer; 
            }
        }
    }
}
@media (max-width:768px){
    .formulario__titulo{
        margin: 0px;
    }
    .formulario{
        padding: 0px;
        border: 0px;
        .formulario__caja{
            padding: 0px;
            border: 0px;
        }
    }
}